<div id="dashboard-clock" class="dashboard-clock" aria-live="polite"></div>
<div class="app-container">
    <div class="header-container"></div>
    <div id="sidebar" class="collapsible"></div>

    <div id="app" class="collapsible <%= locals.appClass || '' %>">
        <!-- Content injected here -->