/* Content removed as dashboard graphics are no longer used */
.coordinator-dashboard {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  width: 100%;
  max-width: none;
  margin: 0;
}
