<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appoint Admins</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/toast.css">
</head>
<body>
    <div class="app-container">
        <div class="header-container"></div>
        <div id="sidebar" class="collapsible"></div>
        <div id="app" class="collapsible">
            <h1>Appoint Admins</h1>
        </div>
    </div>
    <div id="toast"></div>
    <script type="module" src="../../js/components/header.js"></script>
    <script type="module" src="../../js/components/sidebar.js"></script>
    <script type="module" src="../../js/auth/authChecker.js"></script>
</body>
</html>