<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Appoint Admins</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/toast.css">
    <link rel="stylesheet" href="../../css/components/sidebar.css">
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="stylesheet" href="../../css/header-redesign.css">
</head>
<body>
    <div class="app-container">
        <div class="header-container"></div>
        <div id="sidebar" class="collapsible"></div>
        <div id="app" class="collapsible">
            <h1>Appoint Admins</h1>
        </div>
    </div>
    <div id="toast-container" class="toast-container"></div>
    <script type="module" src="../../js/components/toast.js"></script>
    <script type="module" src="../../js/components/header.js"></script>
    <script type="module" src="../../js/components/sidebar.js"></script>
    <script type="module" src="../../js/auth/authChecker.js"></script>
</body>
</html>